/*Style for about page */
.extras{
text-align: center;
 font: arial;

}

/* Styling For the Browse Page */
.collection{

  margin-top: 80px;
  height: 600px;


}

.swim{
margin-left: 40px;
}

/* order now css  */

.radio-inline{
display: none;

}
