/*Style for home page */
.extras{
text-align: center;
 font: arial;

}



/* Styling For the Browse Page */
.collection{

  .browse-footer{
  margin-left: 50px;
  }


}



/* order now css  */

.radio-inline{
display: none;

}

/*style nav */

.navbar navbar-inverse{
background-color: blue;
}
