/*Style for about page */
.extras{
text-align: center;
 font: arial;

}

/* Styling For the Browse Page */
.collection{
  max-width: 960px;
  margin-top: 30px;
  position: relative;

}

.swim{
margin-left: 40px;
}

/* order now css  */

.radio-inline{
display: none;

}
